.aboutUs {
	background-color: #f9f9f9;
	padding: 40px 20px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;


	@media (max-width: 768px) {
		padding: 100px 0px;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;

		@media (min-width: 768px) {
			flex-wrap: nowrap;
			text-align: left;
			
		}

		@media (max-width: 767px) {
			flex-direction: column;
			padding: 20px;
		}
	}

	.logo {
		flex: 1;
		padding: 20px;

		img {
			max-width: 100%;
			height: auto;
		}

		@media (max-width: 767px) {
			flex: none;
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
		}
	}

	.content {
		flex: 2;
		padding: 20px;

		h2 {
			font-size: 6rem;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.4rem;
			line-height: 1.8;
			color: #555;
			margin: 10px 0px;

			strong {
				color: #000;
			}
		}

		.contact {
			margin-top: 20px;

			h3 {
				font-size: 1.5rem;
				margin-bottom: 10px;
				color: #333;
			}

			p {
				font-size: 0.9rem;
				color: #444;
				margin: 10px 0px;

				a {
					color: #455ce9;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		@media (max-width: 767px) {
			flex: none;
			width: 100%;
			padding: 0;
			margin-bottom: 20px;

			h2 {
				font-size: 3rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}
