.project{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 10px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
 

    @media (max-width: 1280px) {
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    h2{
        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;

        @media (max-width: 1280px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }
}